* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

header input {
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  margin-right: 16px;
}

header button {
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 30px;
  cursor: pointer;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url(./assetes/images/snowy.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  display: flex;
  flex-direction: column;
}

.todday-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 50px;
}

.todday-container .todday-element {
  background-color: rgba(100, 100, 100, 0.6);
  font-size: 24px;
  display: flex;
  padding: 16px;
  border-radius: 10px;
}
.todday-element p {
  color: aliceblue;
}
.today-text-wrapper p:nth-child(2) {
  font-size: 56px;
  margin-left: 16px;
}

.today-temperature {
  font-size: 36px;
  font-weight: bold;
}
.week-container {
  display: flex;
  padding: 50px;
}
.tomorrow {
  background-color: rgba(100, 100, 100, 0.6);
  padding: 16px;
  border-radius: 10px;
  margin-right: 16px;
}

.tomorrow img {
  height: 100px;
}

.tomorrow p {
  color: aliceblue;
  margin-top: 5px;
}

.town-container {
  margin-left: 20px;
  margin-bottom: 100px;
  color: rgb(78, 78, 78);
}
.town-name {
  font-size: 60px;
}
.town-time {
  font-size: 30px;
}
